/* Reset CSS */
 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

/* 
1. Vị trí
2. Kích thước (chiều ngang, chiều rộng)
3. Màu sắc
4. Kiểu dáng (kiểu chữ, màu chữ,....) 
*/

html {
   font-family: Arial, Helvetica, sans-serif;
   /* font-size: 62.5%; */
}

#wrapper {

}

#header {
  height: 46.5px; 
   /* width: 100%; */
  background-color: #000;
  position: fixed;
  top:0;
  left:0;
  right: 0;
  z-index: 1;
}

#navigation{
   display: inline-block;
}

#navigation > li {
   display: inline-block;
   position: relative;
}

#navigation > li > a{
   color: #fff;
   text-transform: uppercase;
}

#navigation li a {
   text-decoration: none;
   line-height: 46.5px;
   padding: 0 24px;
   display: block;
}

#navigation li:hover >a{
   color: #000;
   background-color: #ccc;
}

#navigation li:hover .sub_navigation {
   display: block;
}

#navigation .sub_navigation {
   display: none;
   position: absolute;
   top: 46.5px;
   left: 0;
   min-width: 160px;
   background-color: #fff;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#navigation .sub_navigation a{
   color: #000;
   padding: 0 16px;
   line-height: 38.5px;
}

#navigation, .sub_navigation {
   list-style-type: none;

}

#navigation .nav-arrow-down{
   font-size: 15px;
}

#header .search-box{
   float: right;
}

#header .nav-search-box{
   color: #fff;
   line-height: 46.5px;
   padding: 0 24px;
   font-size: 15px;
}

#header .search-box:hover {
   cursor: pointer;
   background-color: #f44336;
}

#slider {
   position: relative;
   margin-top:46.5px;
   padding-top: 50%;
   background-image: url(/assets/images/slider1.jpg);
   background-repeat: no-repeat;
   background-position: top center;
   background-size: contain;
}

#slider .text-content{
   color: #fff;
   position: absolute;
   bottom: 47px;
   left:50%;
   transform: translateX(-50%);
   padding: 32px 16px;
   
}

#slider .text-heading{
   text-align: center;
   margin-top: 10px;
   font-size: 24px;;
   font-weight: 500;
}

#slider .text-description{
   text-align: center;
   margin-top: 25px;
   margin-bottom: 15px;
   font-size: 15px;
}


#content {
   height: 1000px;
}

#footer {

}
